a {
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.btn {
  background-color: $accent;
  font-size: .8rem;
  text-transform: uppercase;
  border: 1px solid $accent;
  border-radius: .2rem;
  color: $white !important;
  padding: .5rem 2rem;
  cursor: pointer;
  &:hover {
    background-color: $accent-hover !important;
    color: $white !important;
    text-decoration: none !important;
  }
}

.masthead {
  height: 3.5rem;
  background-color: $white;
  .masthead-title {
    a {
      font-weight: 700;
      &:hover {
        background: linear-gradient(135deg, $accent-hover 20%, $magenta 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// back-top
#scrollup {
  font-size: 2rem;
  color: $lightgrey;
  position: fixed;
  z-index: 1000;
  opacity: 0.5;
  padding: 0px 10px;
  background: $accent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 20px;
  bottom: 50px;
  display: none;
  cursor: pointer;
}

// media content
@media (min-width: 925px) {
  .container {
    max-width: 1200px;
  }
  .content-wrap {
    float: left;
    clear: both;
    width: 68%;
  }
  .sidebar-right {
    display: block;
  }
}