// sidebar right
.sidebar-right {
  background-color: $white;
  width: 30%;
  margin-left: 2%;
  float: right;
  display: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  h3 {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
  }
}
.promo {
  padding: 2rem 1rem;
  background-color: $white;
  text-transform: uppercase;
  p {
    font-size: 1.2rem;
    font-weight: 700;
    color: $accent;
  }
}

.sidebar-content {
  padding: 2em 1em;
  font-size: .9rem;  
}
// subsc sidebar
.subsc {
  padding: 1rem 1rem 1.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  h3 {
    margin: 0;
    text-transform: uppercase;
    text-align: left;
  }
  p {
    margin: 0;
  }
  form {
    text-align: center;
    margin: 0;
    width: 220px;
    height: 60px;
    border: 10px solid $accent;
    clear: both;
  }
  .email {
    border: none;
    border-right: 0;
    padding: 0;
    margin: 0;
    font-size: 85%;
    float: left;
    padding: 0 5px;
    width: 160px;
    vertical-align: top;
    height: 40px;
  }
  .submit {
    background: $accent-hover;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $white;
    cursor: pointer;
    clear: both;
    span {
      line-height: 40px;
    }
  }
  .soc {
    text-align: center;
    margin-top: .5rem;
    a {
      font-size: 24px;
      display: inline-block;
      width: 44px;
      height: 48px;
      color: $white;
      line-height: 48px;
      float: left;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
    span {
      line-height: 40px;
    }
  }
  .rss {    
    background-color: #ea7819;
    &:hover {
      background-color: rgba(#ea7819, .75);
    }
  }
  .vk {    
    background-color: #4D76A1;
    &:hover {
      background-color: rgba(#4D76A1, .75);
    }
  }
  .twitter {
    background-color: #55acee;
    &:hover {
      background-color: rgba(#55acee, .75);
    }
  }
  .telegram {
    background-color: #20A0E1;
    &:hover {
      background-color: rgba(#20A0E1, .75);
    }
  }
  .youtube {
    background-color: #E02F2F;
    &:hover {
      background-color: rgba(#E02F2F, .75);
    }
  }
}

// recent post sidebar
.recent {
  .recent-post {
    list-style-type: none;
    padding: 0;
  }
  .recent-item {
    margin: .5rem 0;
    border-bottom: 1px solid #ccc;
  }
  a:hover {
    text-decoration: none;
  }
}