---
layout: page
---

<div class="text-justify">
  {% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
      <a href="{{ post.url }}" class="list-group-item">
        <h4 class="list-group-item-heading h6">{{ post.title }}</h4>
      </a>
    {% endfor %}
  {% else %}
    <p>There are no posts in this tag.</p>
  {% endif %}
</div>

<div class="page">
    <h1 class="page-title">Записи тега: {{ page.title }}</h1>
    <div class="tags-expo">
      <div class="tags-expo-section">
      {% if site.tags[page.slug] %}
        <ul class="tags-expo-posts">
          {% for post in site.tags[page.slug] %}
          <a href="{{ post.url }}">
            <li>
              {{ post.title }}
              <small class="post-date">{% include date.html date=post.date %}</small>
            </li>
          </a>
          {% endfor %}
        </ul>
          {% else %}
          <p>There are no posts in this tag.</p>
      {% endif %}
      </div>
    </div>
</div>